@import '../variable.scss';

.card-title{
    color: $primary;
}

.card-text{
    color : $dark;
}

.card {
    background: $light;
}

a {
    color : $dark;
}

.bi {
    width : 20px;
    height: 20px;
}
