{% extends "base.html.twig" %}
{% block title %}
Catégorie - {{ category }}
{% endblock %}
{% block stylesheets %}
{{ encore_entry_link_tags('program_index')}}
{% endblock %}
{% block body %}
{% if programs %}
{% for program in programs %}
{% include "Programs/_programCard.html.twig" %}
{% endfor %}
{% else %}
    <p>Pas de programme dans cette catégorie</p>
{% endif %}


<a class="btn btn-primary my-3" href="{{ path('category_index') }}">Retour à la liste de la catégorie</a>
{% endblock %}