@import 'variable.scss';
@import "bootstrap/scss/bootstrap";

body {
    background-color: $dark;
}

h1{
    color : $secondary;
}

h2,h3,h4 {
    color: $light;
}

p {
    color : $light;
}

.p-card{
    color: $primary;
}

label {
    color : $light;
}

.table {
    color: $light;
}

ul {
    color: $light;
}